body {
  background-color: white;
  color: black;
}

.header {
  background-color: black;
  color: white;
  height: 24px;
  text-align: center;
}

.main,
.header,
.footer {
  margin: 0 auto;
  width: 1024px;
}
.jobs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px 157px;
}

.job-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 150px;
  height: 150px;
  padding: 5px;
  border: 5px solid;
  margin-bottom: 10px;
}

.red {
  border-color: red;
}
.yellow {
  border-color: yellow;
}
.green {
  border-color: green;
}
.blue {
  border-color: blue;
}
.salmon {
  border-color: salmon;
}

.footer {
  background-color: grey;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
